.main-screen {
  height: 652px;
  background-color: #7100FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768.98px) {
  .main-screen {
    height: 560px;
    padding: 44px 0;
    box-sizing: border-box;
  }
}
