.main-screen__learn-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 145px;
  height: 48px;
  color: #ffff;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  border-radius: 26px;
}

@media screen and (min-width: 768.98px) {
  .main-screen__learn-more {
    /* margin-bottom: 80px; */
  }
}
