.header__buy-ticket-button{
  display: flex;
  padding: 12px 24px;
  background-color: #FFD400;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  border-radius: 26px;
  cursor: pointer;
  border: none;
}

.develop-pay {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.popup_type_buy-ticket {
  margin: 0 auto 0;
  height: 100%;
  box-shadow: 0px 4px 12px rgba(59, 55, 72, 0.12);
  border-radius: 24px 24px 0px 0px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;  
}

.popup__container_type_buy-ticket {
  margin-top: 128px;
  max-width: 612px;
  max-height: 780px;
  border-radius: 24px;
  padding-bottom: 40px;
  flex-flow: column;
}

.popup__buy-ticket-header {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-bottom: 20px;
}

.popup__buy-ticket-header-text{
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;  
}

.popup__buy-ticket-options-container {
  margin: 0 40px;
}

.popup__buy-ticket-summary-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.popup__buy-ticket-options-text {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}

.summary-amount__result-text {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
}

.summary-amount__controls {
  width: 192px;
  height: 48px;
}

.popup__buy-ticket-email-container {
  margin: 32px 40px 0;  
}
.email-form {
  margin-top: 16px;
}

.email-form__input {
 padding: 0; 
}

.email-form__item {
  width: 100%;
}

.popup__payment-selection {
  margin: 32px 40px 0;
}

.payment-selection-input {
  display: flex;
  flex-flow: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.agreement-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.highlight-text {
  color: #7100FF;
}

.popup__buy-ticket-summary-input {
  width: 96px;
  height: 48px;
  border: none;
  text-align: center;
}

.popup__buy-ticket-summary-input-button {
  width: 48px;
  height: 48px;
  border: none;
  background-color: #7100FF;
  color: white;
  border-radius: 13px;
  cursor: pointer;
}


.color-purple {
  color:#7100FF;
}

